[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
serpapi = {editable = true, path = "."}
pytest = "*"

[dev-packages]
alabaster = "*"
sphinx = "*"
pytest = "*"
black = "*"
